.currentTableItem {
    width: 10vh;
    height: 10vh;

}

.currentTaskActive {
    border: solid red 2px;
}

.singleTask {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.timePeriods{
    font-size: 10px;
    border: solid #e3e5ea 1px;

}
